body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121212; /* Dark background for the body */
  color: #e0e0e0; /* Light grey text color for contrast */
}

.container {
  text-align: center;
  background-color: #1e1e1e; /* Slightly lighter dark shade for the container */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  color: #ffffff; /* White text color for the container */
}

input {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #333; /* Darker border for input */
  background-color: #333; /* Dark input background */
  color: #e0e0e0; /* Light grey text for input */
}

input::placeholder {
  color: #b0b0b0; /* Lighter placeholder text for visibility */
}

button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff; /* Blue button */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

#result {
  margin-top: 20px;
  text-align: left;
  background-color: #2c2c2c; /* Dark background for result */
  padding: 10px;
  border-radius: 5px;
  color: #e0e0e0; /* Light grey text for results */
}
